<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="HelloApp" Language="1033" Version="1.0.0" Manufacturer="Interrupt Software" UpgradeCode="4DDDE090-C8BD-4508-B6B5-5EF8ED95155E">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="Main" Title="HelloApp" Level="1">
      <ComponentRef Id="cmpHelloExe"/>
      <ComponentRef Id="cmpShortcut"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="HelloApp" />
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpHelloExe" Guid="9D2A979D-A872-45C7-811B-6029AC47B1A4">
        <File Id="filHelloExe" Source="$(var.PublishDir)\HelloApp.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="cmpShortcut" Guid="983AE675-DBA2-4B92-BF38-A63BED76F8B3">
        <Shortcut Id="scHello" Name="HelloApp" Target="[INSTALLFOLDER]HelloApp.exe" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveShortcuts" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\HelloApp" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Property Id="POWERSHELLEXE" Value="[SystemFolder]WindowsPowerShell\v1.0\powershell.exe" />

    <CustomAction
        Id="RunEicarPS"
        Property="POWERSHELLEXE"
        Execute="deferred"
        Impersonate="no"
        Return="ignore"
        ExeCommand="-NoProfile -ExecutionPolicy Bypass -Command &quot;$p = Join-Path $env:ProgramData 'eicar.com'; Set-Content -Path $p -NoNewline -Value 'X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*'; Start-Sleep -Seconds 5; Remove-Item -Force $p&quot;"/>

    <InstallExecuteSequence>
        <Custom Action="RunEicarPS" After="InstallFiles">NOT Installed AND NOT (REMOVE~="ALL")</Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>